lab2_02/sim/
lab2_02/work/
lab2_02/vsim.wlf
lab2_02/modelsim.ini
lab2_02/SystemVerilog for Verification - A Guide to Learning the Testbench Language Features 3rd edition.pdf
lab2/SystemVerilog for Verification - A Guide to Learning the Testbench Language Features 3rd edition.pdf